html body {
  font-size: 1rem;
}

body {
  background-color: lightblue;
  color: darkblue;
  font-family: 'Roboto', sans-serif;
}

body h1 {
  font-weight: 800;
  text-align: center;
}

body p {
  margin: 1rem 10px;
}

#challenge2 .box {
  box-sizing: border-box;
}

#challenge2 .box:first-child {
  background-color: lightgreen;
  border-radius: 50%;
}

#challenge2 .box:first-child:hover {
  background-color: lightpink;
}

#challenge2 .box:nth-child(2) {
  background-color: lightslategray;
  border: 10px solid black;
}

#challenge2 .box:nth-child(2):hover {
  background-color: black;
  border: 10px solid lightslategray;
}

#challenge2 .box:nth-child(3) {
  background: linear-gradient(to bottom, white 50%, red 50%);
}

#challenge2 .box:nth-child(3):hover {
  background: linear-gradient(to bottom, red 50%, white 50%);
}

#challenge3 a.food-link {
  color: darkblue;
  text-decoration: underline;
}

#challenge3 a:visited {
  color: lightslategray;
}

#challenge3 a:hover {
  color: red;
  font-weight: bold;
}

#challenge3 li.food-item {
  list-style: none;
  position: relative;
}

#challenge3 li.food-item::before {
  content: "🍔";
}

#challenge4 p:empty {
  display: none;
}

#challenge4 input:disabled {
  display: none;
}

#challenge4 a[href*="recipe"] {
  display: none;
}

#challenge4 p {
  margin: 3rem 10px;
}

#challenge5 img {
  width: 70%;
  min-width: 100px;
  max-width: 500px;
}

#challenge5 figcaption {
  font-size: 0.7rem;
}
