@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button {
  all: unset;
}

.CheckboxRoot {
  background-color: var(--violet-11);
  width: 20px;
  height: 20px;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px var(--black-a7);
}
.CheckboxRoot:hover {
  background-color: var(--violet-12);
}
.CheckboxRoot:focus {
  box-shadow: 0 0 0 2px black;
}

.CheckboxIndicator {
  color: var(--black-a9);
  scale: 1.7;
}

.Label2FA {
  padding-left: 15px;
  font-size: 13px;
  color: var(--violet-7);
  line-height: 1;
}
